http:
  routers:
    heal-flutter-web-router:
      rule: Host("healf.positiveness.club")
      service: heal-flutter-web-service
      middlewares:
        - redirect-to-https
      entryPoints:
        - web
    heal-flutter-web-router-websecure:
      rule: Host("healf.positiveness.club")
      service: heal-flutter-web-service
      middlewares: []
      entryPoints:
        - websecure
      tls:
        certResolver: letsencrypt
  services:
    heal-flutter-web-service:
      loadBalancer:
        servers:
          - url: http://__IP__:3000
        passHostHeader: true
