<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355529098583-af67c13qac54rsvk1hhiseals6g6n7f5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355529098583-af67c13qac54rsvk1hhiseals6g6n7f5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>355529098583-04d492biuv6j1borfd8hggu0s4ivviem.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD2-uzzcwBWjx0c26jTE2W7JcJ_m78LhoU</string>
	<key>GCM_SENDER_ID</key>
	<string>355529098583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pclub.heal</string>
	<key>PROJECT_ID</key>
	<string>heal-prd</string>
	<key>STORAGE_BUCKET</key>
	<string>heal-prd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355529098583:ios:92b69d78847cd4ece62a12</string>
	<key>DATABASE_URL</key>
	<string>https://heal-prd-default-rtdb.firebaseio.com</string>
</dict>
</plist>